# torch ставится вручную под RTX 50XX (Blackwell):
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu128

faster-whisper
sounddevice
numpy
keyboard
PyYAML
soundfile
jiwer
faster_qwen3_tts